<input type="text"
       id="search"
       placeholder="Pick one"
       aria-label="Number"
       matInput
       [formControl]="searchForm"
       [matAutocomplete]="auto"
       [style]="searchBtnStyle"
       #keyword
       (keyup)="doUpdateOptions(keyword.value)"
       >

<div> 
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of leagues$ | async" [value]="option.name" (click)="doSelectTeam(option)">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
</div>
